@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer components{
    .signup-label{
        @apply text-sm;
        @apply font-semibold;
        @apply mb-2
    }
    .signup-input{
        @apply w-full;
        /* @apply bg-gray-100; */
        @apply p-2;
        @apply h-8;
        @apply rounded-md;
        @apply mb-2;
        @apply border-[0.5px];
        @apply border-black
    }
    .signup-input:focus{
        @apply outline-none;
    }
}
*{
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
}

html, body, #root{
    width: 100%;
    height: 100%;
}

